@font-face {
  font-family: "Reglisse-Back";
  src: url("../fonts/Reglisse_Back.otf") format("opentype");
}
@font-face {
  font-family: "Reglisse-Fill";
  src: url("../fonts/Reglisse_Fill.otf") format("opentype");
}
@font-face {
  font-family: "Reglisse";
  src: url("../fonts/Reglisse.otf") format("opentype");
}
@font-face {
  font-family: "SuperMario256";
  src: url("../fonts/SuperMario256.ttf") format("truetype");
}
.gameBtn {
  width: auto;
  height: 35px;
  border-radius: 1.1rem;
  line-height: 1.2cap;
  padding: 7px;
  border-color: #ff6f00;
  color: rgb(114, 53, 34);
  cursor: pointer;
  font-family: "Reglisse-Fill";
  font-size: 1.3em;
  border-width: 3px;
  box-shadow: #333 1px 3px 2px;
  background-color: rgb(255, 241, 161);
  letter-spacing: -0.1rem;
}
.gameBtn:hover {
  border-color: #e64a19;
  color: rgb(92, 48, 19);
  box-shadow: #333 1px 1px 2px;
}

#btnExit {
  margin-left: 3cap;
  margin-top: 2cap;
  color: red;
}

#btnReset {
  margin-right: 3cap;
  margin-top: 2cap;
  color: green;
}

#sendGameButton {
  opacity: 1;
  margin-top: 1vh;
  width: 15%;
  height: 10%;
}

#exit {
  padding: 0 3cap;
  margin-right: 33%;
}

#quickGame, #start, #credits {
  width: 15cap;
  height: auto;
  line-height: 2cap;
  text-align: center;
  margin: 0 1%;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35vh;
  z-index: 1000;
}

#loading-logo {
  padding-top: 15vh;
}

.progress-bar {
  width: 50%;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: #5c74dd;
  transition: width 0.5s;
}

#loading-text {
  color: white;
  font-size: 1.5em;
  font-family: "Reglisse-fill";
}

video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

#sendGameButton {
  display: block;
  opacity: 0;
  margin-bottom: 20vh;
}

#popup {
  display: none;
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  height: auto;
  padding-bottom: 2cap;
  background-color: rgba(255, 255, 234, 0.9);
  border: dotted 2px #e64a19;
  border-radius: 15px;
  z-index: 9999;
  overflow: auto;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.6);
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  background-image: url("../img/close.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.upCredits {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  border: dotted 2px #e64a19;
  border-radius: 15px;
  box-shadow: #333 1px 3px 6px;
  width: 30%;
  height: auto;
  padding: 3%;
  background-color: rgba(255, 255, 234, 0.9);
  z-index: 10;
  font-family: "Reglisse-Fill";
  color: #e64a19;
}
.upCredits ul {
  list-style-type: none;
}
.upCredits a {
  color: blueviolet;
}
.upCredits li {
  padding: 2%;
}

.game-option-label {
  font-family: "Reglisse-Fill";
  font-size: 2.3em;
  color: #ff6f00;
  cursor: pointer;
}

input[type=radio].game-option-input {
  display: none;
}
input[type=radio].game-option-input + label {
  border: dashed 1px grey;
  border-radius: 5px;
  padding: 0 20px;
  margin-bottom: 3%;
  display: inline-block;
}
input[type=radio].game-option-input:checked + label {
  color: red;
  border: solid 0.1cap #ff6f00;
  background-color: rgba(255, 255, 0, 0.5);
}

input[type=text] {
  width: 35%;
  height: 0.9rem;
  border: 0.3cap solid #bbc3ce;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 1.2cap;
  font-family: "Reglisse-Fill";
  font-size: 1.3em;
  color: #ff6f00;
  margin-bottom: 1cap;
}

fieldset {
  border: 1px solid #ff6f00;
  border-radius: 0.5rem;
  width: 90%;
  margin: 0 auto;
  padding: 3%;
  font-family: "Reglisse-Fill";
  font-size: 1.3em;
  color: #ff6f00;
}

#labelPlayer1, #labelPlayer2 {
  font-family: "Reglisse-Fill";
  font-size: 1.1em;
}

#labelPlayer3,
#labelPlayer4 {
  display: none;
  font-family: "Reglisse-Fill";
  font-size: 1.1em;
}

.matchVisu {
  width: 50px;
  height: 50px;
}

.totalMatches {
  color: orange;
  font-size: 11em;
  font-family: "Reglisse-Fill";
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 11px 11px 3px #999;
  margin-top: -50px;
  margin-bottom: -20px;
}

.interactive {
  border: 1px dashed grey;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 2% auto;
  width: 70%;
  height: 160px;
}

#resultGame {
  display: none;
  position: absolute;
  left: 25%;
  top: 23%;
  width: 50%;
  height: 45%;
  padding-top: 3%;
  border-radius: 3cap;
  border: dotted 2px #ff6f00;
  text-align: center;
  background-color: rgba(255, 255, 234, 0.9);
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.6);
}

.resultloser {
  color: #e64a19;
  font-family: "Reglisse-Fill";
  font-size: 1.7em;
  padding: 2%;
  text-shadow: #333 0px 3px 2px;
}

.resultwinner {
  color: #ffd900;
  font-family: "Reglisse-Fill";
  font-size: 1.7em;
  padding: 2%;
  text-shadow: #333 0px 3px 2px;
}

#alertMessage {
  color: #ff6f00;
  font-family: "Reglisse-Fill";
  font-size: 1.3em;
}

#specialMessage {
  color: #e64a19;
  font-family: "Reglisse-Fill";
  font-size: 1.1em;
  height: 1.1em;
}

#game {
  font-size: 2em;
  color: orange;
  font-family: "Reglisse-Fill";
}

.choice {
  font-family: "Reglisse-fill";
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 2px;
  border-width: 5px;
  border-radius: 15px;
  border-color: orange;
  border-style: outset;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-image: linear-gradient(#ffffff, #b6b6b6);
  font-size: 3em;
}
.choice:hover {
  border-color: #ff5722;
}
.choice:active {
  border-color: #d33505;
}

.special {
  opacity: 0.3;
  width: 75px;
  height: 75px;
  margin: 3% 0;
  padding: 2px;
  border-radius: 15px;
  border-color: yellow;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#ffffff, #b6b6b6);
  font-size: 2.5em;
  cursor: pointer;
}
.special:hover {
  border-color: #ffe522;
}

#joker {
  width: 38px;
  height: auto;
}

#btn2 {
  display: inline-block;
}

#gameConditions {
  font-family: "Reglisse-Fill";
}

.playerturn {
  color: #e64a19;
  font-family: "Reglisse-Fill";
  text-shadow: 2px 2px 0 orange, 4px 4px 0 #ff6f00, 6px 6px 0 #ff5722, 8px 8px 2px #999;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.title {
  font-size: 9em;
}

section {
  padding-top: 5vh;
}

.buttonbox {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

main {
  background-color: #fff;
  border: 2px dotted #ff6f00;
  width: 50%;
  height: auto;
  margin: 1% auto;
  padding: 2%;
  border-radius: 1.5rem;
}

h1 {
  font-family: "SuperMario256";
  font-size: 3em;
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 7px 7px 2px #999;
  color: orange;
}

.h1padding {
  padding-top: 0.6cap;
}

h2 {
  font-family: "Reglisse-Fill";
  font-size: 2em;
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 7px 7px 2px #999;
  color: orange;
}

h3 {
  font-family: "Reglisse-fill";
  font-size: 1.6em;
  text-shadow: 1px 1px 0 #ff6f00, 2px 2px 0 #ff5722, 3px 3px 0 #e64a19, 5px 5px 1px #999;
  color: orange;
  line-height: 1.6cap;
}

h4 {
  font-family: "Reglisse-fill";
  font-size: 2em;
  text-shadow: 1px 1px 0 #ff6f00, 2px 2px 0 #ff5722, 3px 3px 0 #e64a19, 5px 5px 1px #999;
  color: orange;
}

/*# sourceMappingURL=main.css.map */
