@use "./libs/fonts.scss";
@use "./pages/index.scss";
@use "./pages/gameplay.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    color: #333;
    text-align: center;
}

main {
    background-color: #fff;
    border: 2px dotted #ff6f00;
    width: 50%;
    margin: 2% auto;
    padding: 1%;
    border-radius: 35px;
}

h1 {
    font-family: 'SuperMario256';
    font-size: 3em;
    padding: 1%;
    text-shadow: 
        2px 2px 0 #ff6f00,
        4px 4px 0 #ff5722,
        6px 6px 0 #e64a19,
        7px 7px 2px #999;
    color: orange;
}

h2 {
    font-family: 'SuperMario256';
    font-size: 1.6em;
    text-shadow: 
        1px 1px 0 #ff6f00,
        2px 2px 0 #ff5722,
        3px 3px 0 #e64a19,
        5px 5px 1px #999;
    color: orange;
    line-height: 1.6cap;
}