@use "libs/_fonts";
@use "libs/_colors" as *;
@use "libs/_responsive" as *;
@use "sass:color";

@use "styles/buttons";
@use "styles/progress";
@use "styles/popupstyle";
@use "styles/fadetoblack";
@use "styles/fadetowhite";
@use "styles/loader";
@use "styles/sendgamebutton";

@use "responsive/xxs";
@use "responsive/xs";

@use "pages/index";
@use "pages/gameoptions";
@use "pages/gameplay";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

main {
    background-color: color.adjust(#fff, $alpha: -0.3);
    backdrop-filter: blur(6px);
    border: 2px dotted $orangeGrad2;
    width: 50%;
    height: auto;
    margin: 1% auto;
    padding: 2%;
    border-radius: 1.5rem;
}

h1 {
    font-family: 'SuperMario256';
    font-size: 3em;
    text-shadow: $gradientTextShadow;
    color: $orangeTextTitle;
}

.h1padding {
    padding-top: 0.6cap;
}

h2 {
    font-family: 'Reglisse-Fill';
    font-size: 2em;
    text-shadow: $gradientTextShadow;
    color: $orangeTextTitle;
}

h3 {
    font-family: 'Reglisse-fill';
    font-size: 1.6em;
    text-shadow: $gradientTextShadow;
    color: $orangeTextTitle;
    line-height: 1.6cap;
}

h4 {
    font-family: 'Reglisse-fill';
    font-size: 2em;
    text-shadow: $gradientTextShadow;
    color: $orangeTextTitle;
}