@use "./libs/fonts.scss";
@use "./libs/button.scss";
@use "./libs/progress.scss";
@use "./libs/popupstyle.scss";

@use "./pages/gameoptions.scss";
@use "./pages/gameplay.scss";
@use "./pages/index.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

main {
    background-color: #fff;
    border: 2px dotted #ff6f00;
    width: 50%;
    height: auto;
    margin: 1% auto;
    padding: 2%;
    border-radius: 1.5rem;
}

h1 {
    font-family: 'SuperMario256';
    font-size: 3em;
    text-shadow: 
        2px 2px 0 #ff6f00,
        4px 4px 0 #ff5722,
        6px 6px 0 #e64a19,
        7px 7px 2px #999;
    color: orange;
}

.h1padding {
    padding-top: 0.6cap;
}

h2 {
    font-family: 'Reglisse-Fill';
    font-size: 2em;
    text-shadow: 
        2px 2px 0 #ff6f00,
        4px 4px 0 #ff5722,
        6px 6px 0 #e64a19,
        7px 7px 2px #999;
    color: orange;
}

h3 {
    font-family: 'Reglisse-fill';
    font-size: 1.6em;
    text-shadow: 
        1px 1px 0 #ff6f00,
        2px 2px 0 #ff5722,
        3px 3px 0 #e64a19,
        5px 5px 1px #999;
    color: orange;
    line-height: 1.6cap;
}

h4 {
    font-family: 'Reglisse-fill';
    font-size: 2em;
    text-shadow: 
        1px 1px 0 #ff6f00,
        2px 2px 0 #ff5722,
        3px 3px 0 #e64a19,
        5px 5px 1px #999;
    color: orange;
}