/*------------Responsive Rules---------*/

@use "../libs/_responsive" as *;

@include mediaQueries();



@include mediaQueries(xxs) {
    form fieldset {
        padding: 0;
        font-size: 1em;
    }

    main {
        width: 95%;
    }

    h1 {
        margin: 0 auto;
        font-size: 2em;
    }

    h2 {
        font-size: 1.6em;
    }

    h4.subtitle {
        font-size: 1.6em;
    }

    .logo_prop {
        width: 80%;
    }

    #quickGame, #start, #credits {
        margin: 2% auto;
        height: 3.5em;
    }

    #mute {
        top: 2%;
        right: 2%;
        width: 3cap;
        height: 3cap;
    }

    h1.title {
        font-size: 4em;
    }

    .buttonbox {
        flex-direction: column;
    }

    #loading-logo {
        margin-top: 15vh;
        & img {
            width: 80%;
        }
    }
};





