body {
    text-align: center;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#start {
    padding-left: 5cap;
    padding-right: 5cap;
    line-height: 1.3cap;
    margin: 3cap;
}

.title {
    font-size: 9em;
    padding-top: 0.5cap;
}

h4 {
    font-family: 'Reglisse-fill';
    font-size: 2em;
    text-shadow: 
        1px 1px 0 #ff6f00,
        2px 2px 0 #ff5722,
        3px 3px 0 #e64a19,
        5px 5px 1px #999;
    color: orange;
    padding-top: 1.6cap;
}