select {
    width: 70px;
    height: auto;
    background-color: #fff;
    font-family: 'Reglisse-Fill';
    font-size: 3em;
    margin-left: 10px;
    margin-right: 10px;
    color: #ff6f00;
    text-shadow: #333 1px 1px 1px;
    text-align: center;
    border: none;
}

label {
    font-family: 'Reglisse';
    font-size: 1.5em;
}