#popup {
    display: none;
    position: fixed;
    top: 15cap;
    left: 25%;
    width: 50%;
    height: auto;
    padding-bottom: 1cap;
    background-color: rgba(255, 255, 234, 0.9);
    border: dotted 2px #e64a19;
    border-radius: 15px;
    z-index: 9999;
    overflow: auto;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    background-image: url("../img/close.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}