/*------------Responsive Rules CLASSIC SCREEN from Gameplay.scss file for orginal rules---------*/

@use "../libs/responsive" as *;
@use "../libs/colors" as *; 

@include mediaQueries(classic) { //1024px+
    
    #mute {
        top: 10%;
        right: 15%;
        left: 89%;
        width: 3cap;
        height: 2cap;
        background-size: 45%;
    }
    .gameBtn {
        font-size: 1.2em;
        padding: 7px 14px;
        border-radius: 1.1rem;
    }

    /*---Progress + Index---*/
    #sendGameButton {
        width: 100px;
        height: 100px;
        margin-top: 20vh;
    }
    h4.head {
        font-size: 2em;
    }
    h4.subtitle {
        font-size: 2em;
    }
    h1.title {
        font-size: 9em;
        margin: 3vh auto;
    }
    .buttonbox {
        flex-direction: row;
    }
    #quickGame, #start, #credits {
        width: 15cap;
        height: auto;
        margin: 0 1%;
    }
    section.first {
        padding-top: 5vh;
    }
    .upCredits {
        width: 40%;
        font-size: inherit;
        & h4 {
            font-size: 2em;
        }
    }
    
    /*---Game Options---*/
    form fieldset {
        font-size: 1.3em;
    }
    main.option {
        width: 50%;
        min-height: auto;
    }
    h1.h1padding {
        margin: 0 auto;
        width: auto;
        font-size: 3em;
    }
    h2.option {
        font-size: 2em;
        padding: 0;
    }
    div.bottombutton {
        margin: 0 10%;
    }
    #popup h2 {
        font-size: 2em;
        padding: unset;
    }
    #go {
        width: 70px;
        height: 70px;
        font-size: 1.6em;
        bottom: 10%;
    }
    #popup {
        top: 3%;
        left: 5%;
        width: 90%;
        height: 94%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2cap;
    }
    form input[type="text"] {
        font-size: 1.2em;
        padding: 1.2cap;
    }
    label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
        font-size: 1.1em;
    }

    /*---Gameplay---*/
    h3.option {
        font-size: 1.6em;
        padding: 1vh 0;
    }
    main.GP {
        width: 50%;
        height: auto;
    }
    #headOfConditions {
        font-size: 1em;
    }
    #totalMatches {
        font-size: 11em;
        margin: -50px 0 -20px 0;
    }
    h3#game {
        font-size: 2em;
    }
    h3.ask {
        font-size: 1.6em;
    }
    div#specialMessage {
        font-size: 1.1em;
    }
    div#alertMessage {
        font-size: 1.3em;
    }
    button.choice {
        width: 100px;
        height: 100px;
        font-size: 3em;
        margin: 5px;
        padding: 2px;
    }
    button.special {
        width: 75px;
        height: 75px;
        padding: 2px;
    }
    img#joker {
        width: 43px;
        height: auto;
    }
    img.pulse {
        width: 87px;
        height: auto;
    }
    div.interactive {
        width: 70%;
        height: 160px;
        font-size: 0.9em;
    }
    div#resultGame {
        width: 95%;
        height: 95%;
        top: 2%;
        left: 2%;
        padding-top: 10%;
        font-size: 1.5em;
    }
}