/*------------Responsive Rules LG---------*/

@use "../libs/responsive" as *;
@use "../libs/colors" as *; 

@include mediaQueries(lg) { //720px to 1151px
    
    #mute {
        top: 3%;
        left: 90%;
        width: 3cap;
        height: 3cap;
        background-size: 35%;
    }
    .gameBtn {
        font-size: 2em;
        padding: 7px 14px;
        border-radius: 1.1rem;
        height: auto;
    }
    .closeBtn {
        height: 30px;
    }

    /*---Progress + Index---*/
    #loading-logo {
        margin-top: 25dvh;
        & img {
            width: 100%;
        }
    }
    #sendGameButton {
        width: 150px;
        height: 150px;
        margin-top: 18vh;
    }
    h4.head {
        font-size: 3em;
    }
    h4.subtitle {
        font-size: 3em;
    }
    h1.title {
        font-size: 9em;
        margin: 2% auto;
    }
    #quickGame, #start, #credits {
        margin: 1% auto;
        height: 3em;
        width: 20cap;
    }
    
    /*---Game Options---*/
    form fieldset {
        font-size: 1.5em;
    }
    main.option {
        width: 95%;
        min-height: 70dvh;
    }
    h1.h1padding {
        margin: 0 auto;
        width: 60%;
        font-size: 4em;
    }
    h2.option {
        font-size: 2.5em;
        padding: 1% 0;
    }
    #popup h2 {
        font-size: 3em;
        padding-top: 2vh;
    }
    #go {
        width: 90px;
        height: 90px;
    }
    #popup {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
        font-size: 1.5em;
    }

    /*---Gameplay---*/
    h3.option {
        font-size: 2.5em;
        padding: 1vh 0;
    }
    main.GP {
        width: 95%;
        min-height: 75dvh;
    }
    #headOfConditions {
        font-size: 1.1em;
    }
    #totalMatches {
        font-size: 13em;
        padding: 0;
    }
    h3#game {
        font-size: 3em;
    }
    h3.ask {
        font-size: 2em;
    }
    div#specialMessage {
        font-size: 1.7em;
    }
    div#alertMessage {
        font-size: 1.7em;
    }
    button.choice {
        width: 100px;
        height: 100px;
        font-size: 3em;
        margin: 5px;
        padding: 2px;
    }
    button.special {
        width: 75px;
        height: 75px;
        padding: 2px;
    }
    div.interactive {
        width: 95%;
        height: 17dvh;
        font-size: 0.9em;
    }
    div#resultGame {
        width: 100%;
        height: 75dvh;
        font-size: 1.2em;
        top: 0;
        left: 0;
    }
};