/*------------Responsive Rules MD---------*/

@use "../libs/_responsive" as *;
@use "../libs/_colors" as *; 

@include mediaQueries(md) { //400px to 719px
    
    #mute {
        top: 2%;
        right: 2%;
        width: 3cap;
        height: 3cap;
        background-size: 45%;
    }

    /*---Progress + Index---*/
    h4.head {
        font-size: 2em;
    }
    h4.subtitle {
        font-size: 1.8em;
    }
    h1.title {
        font-size: 6em;
        margin: 10% auto;
    }
    section.first {
        padding-top: 3dvh;
    }
    
    /*---Game Options---*/
    form fieldset {
        font-size: 1.3em;
    }
    main.option {
        width: 95%;
        min-height: 80dvh;
    }
    h1.h1padding {
        margin: 0 auto;
        width: 70%;
        font-size: 2.7em;
    }
    h2.option {
        font-size: 1.5em;
        padding: 2% 0;
    }
    #popup h2 {
        font-size: 1.5em;
        padding-top: 1vh;
    }
    #popup {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    /*---Gameplay---*/
    h3.option {
        font-size: 1.8em;
        padding: 2vh 0;
    }
    main.GP {
        width: 95%;
        min-height: 80dvh;
    }
    #totalMatches {
        font-size: 10em;
        margin: 0;
        padding: 2px;
    }
    h3.ask {
        font-size: 1.8em;
    }
    div#specialMessage {
        font-size: 1.5em;
    }
    div#alertMessage {
        font-size: 1.5em;
    }
    button.choice {
        width: 90px;
        height: 90px;
        font-size: 3em;
    }
    button.special {
        width: 70px;
        height: 70px;
        padding: 2px;
    }
    img#joker {
        width: 40px;
    }
    div.interactive {
        width: 95%;
        height: 20dvh;
        font-size: 0.9em;
    }
    div#resultGame {
        width: 100%;
        height: 80dvh;
        font-size: 0.9em;
        top: 0;
        left: 0;
    }
};