/*------------Responsive Rules SM---------*/

@use "../libs/responsive" as *;
@use "../libs/colors" as *; 

@include mediaQueries(sm) { //360px to 719px
    
    #mute {
        top: 2%;
        right: 2%;
        width: 2cap;
        height: 3cap;
        background-size: 40%;
    }

    .gameBtn {
        font-size: 1.4em;
        padding: 7px 14px;
        border-radius: 1.1rem;
    }

    /*---Progress + Index---*/
    h4.head {
        font-size: 2em;
    }
    h4.subtitle {
        font-size: 1.6em;
    }
    h1.title {
        font-size: 4.5em;
        margin: 7% auto;
    }
    #quickGame, #start, #credits {
        margin: 3% auto;
        height: 3em;
    }
    section.first {
        padding-top: 2dvh;
    }
    .upCredits {
        width: 90%;
        font-size: inherit;
        & h4 {
            font-size: 2.5em;
            text-shadow: $gradientTextShadow;
        }
    }
    
    /*---Game Options---*/
    form fieldset {
        font-size: 1.2em;
    }
    main.option {
        width: 95%;
        min-height: 82dvh;
    }
    h1.h1padding {
        margin: 0 auto;
        width: 70%;
        font-size: 2.3em;
    }
    h2.option {
        font-size: 1.5em;
        padding: 2% 0;
    }
    div.bottombutton {
        margin: 10% 5%;
    }
    #popup h2 {
        font-size: 2.2em;
        padding-top: 3dvh;
    }
    #go {
        width: 70px;
        height: 70px;
        font-size: 1.9em;
    }
    #popup {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    form input[type="text"] {
        font-size: 1.3em;
        padding: 1.2cap;
    }
    label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
        font-size: 1.1em;
    }

    /*---Gameplay---*/
    h3.option {
        font-size: 1.5em;
        padding: 2vh 0;
    }
    main.GP {
        width: 95%;
        min-height: 80dvh;
    }
    #headOfConditions {
        font-size: 0.8em;
    }
    #back {
        padding: 0 5px;
        font-size: inherit;
    }
    #totalMatches {
        font-size: 9em;
        margin: -7px 0;
    }
    h3#game {
        font-size: 2em;
    }
    h3.ask {
        font-size: 1.5em;
    }
    div#specialMessage {
        font-size: 1.5em;
    }
    div#alertMessage {
        font-size: 1.5em;
    }
    button.choice {
        width: 80px;
        height: 80px;
        font-size: 3em;
    }
    button.special {
        width: 70px;
        height: 70px;
        padding: 2px;
    }
    img#joker {
        width: 40px;
    }
    div.interactive {
        width: 95%;
        height: 20dvh;
        font-size: 0.9em;
    }
    div#resultGame {
        width: 100%;
        height: 80dvh;
        font-size: 0.9em;
        top: 0;
        left: 0;
    }
};