/*------------Responsive Rules XL---------*/

@use "../libs/_responsive" as *;
@use "../libs/_colors" as *; 

@include mediaQueries(xl) { //1152px+
    
    #mute {
        top: 3%;
        left: 90%;
        width: 4cap;
        height: 4cap;
        background-size: 50%;
    }
    .gameBtn {
        font-size: 2em;
        padding: 7px 14px;
        border-radius: 1.1rem;
        height: auto;
    }
    .closeBtn {
        height: 30px;
    }

    /*---Progress + Index---*/
    #loading-logo {
        margin-top: 25dvh;
        & img {
            width: 100%;
        }
    }
    #sendGameButton {
        width: 150px;
        height: 150px;
        margin-top: 18vh;
    }
    h4.head {
        font-size: 3em;
    }
    h4.subtitle {
        font-size: 3em;
    }
    h1.title {
        font-size: 11em;
        margin: 3vh auto;
    }
    #quickGame, #start, #credits {
        margin: 2% auto;
        height: 3em;
        width: 25cap;
    }
    
    /*---Game Options---*/
    form fieldset {
        font-size: 2em;
    }
    main.option {
        width: 95%;
        min-height: 70dvh;
    }
    h1.h1padding {
        margin: 0 auto;
        width: 60%;
        font-size: 5em;
    }
    h2.option {
        font-size: 2.5em;
        padding: 1% 0;
    }
    #popup h2 {
        font-size: 3em;
        padding-top: 2vh;
    }
    #go {
        width: 90px;
        height: 90px;
        font-size: 1.8em;
        top: 75%;
        padding: 0;
    }
    #popup {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    form input[type="text"] {
        font-size: 1.3em;
        padding: 1.2cap;
    }
    label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
        font-size: 1.5em;
    }

    /*---Gameplay---*/
    h3.option {
        font-size: 2.5em;
        padding: 1vh 0;
    }
    main.GP {
        width: 95%;
        min-height: 75dvh;
    }
    #headOfConditions {
        font-size: 1.5em;
    }
    #totalMatches {
        font-size: 15em;
        margin: 0;
        padding: 0;
    }
    h3#game {
        font-size: 3em;
    }
    h3.ask {
        font-size: 2em;
    }
    div#specialMessage {
        font-size: 2em;
    }
    div#alertMessage {
        font-size: 2em;
    }
    button.choice {
        width: 150px;
        height: 150px;
        font-size: 5em;
        margin: 5px;
        padding: 2px;
    }
    button.special {
        width: 120px;
        height: 120px;
        padding: 5px;
    }
    img#joker {
        width: 70px;
    }
    div.interactive {
        width: 95%;
        height: 20dvh;
        font-size: 1.2em;
    }
    div#resultGame {
        width: 100%;
        height: 75dvh;
        font-size: 2em;
        top: 0;
        left: 0;
    }
};